@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* Simplified import */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif; /* Use sans-serif instead of serif for a more modern look */
  background: rgb(244, 244, 244);
}
